body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.2;
}

h2{
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 1.85rem;
    line-height: 1.5;
}


#title{
    background-color: #ff4c68;
    color: white;
}

.container-fluid{
    padding: 3% 15% 7%;
}



/* navigation bar */
.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-Light';
}

/* Download buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image{
    width: 60%;
    transform: rotate(25deg);
    margin-left: 6rem;
    position: absolute;
}

/* frame 2 */
#features{
    background-color: white;
    padding: 6% 6% 6% 10%;
    position: relative;
    text-align: center;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
.pad{
    padding-bottom: 7%;
    padding-top: 4%;
}
.features{
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 1.3rem;
    font-weight: bolder;
}
.fea{
    font-size: 0.8rem;
    font-weight: lighter;
    line-height: 0;
    color: grey;
}

/* testimonials */
#testimonials{
    text-align: center;
    background-color: #ff4c68; 
    color: white;
}
.carousel-item{
    padding: 7% 15%;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 23px;
}
#press{
    background-color: #ff4c68; 
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 12%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}

/* cta section */

#cta{
    background-color: #ff4c68; 
    padding: 6% 13%;
    color: white;
    text-align: center;
}
.ctaa{
    font-family: Montserrat-Black, sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0, 2%;
}

.download-button{
    margin: 5% 3% 5% 0;
}

/* footer */

#footer{
    background-color: white;
    font-family: Montserrat-Black, sans-serif;
    padding: 2.5% 3%;
    text-align: center;
}
.ff{
    margin: 20px 8px;
}
.ft{
    font-family: Montserrat-Black, sans-serif;
    font-size: 1rem;
}


@media(max-width: 989px){

    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
    }
}


